:root {
    --background-color: #add8e6;
    --font-color: #2c2c2c;
    --button-bg: #ffffff;
    --button-active-bg: #21292c;
    --button-color: #2c2c2c;
    --button-active-color: #ffffff;
}

[data-theme="dark"] {
    --background-color: #21292c;
    --font-color: #c1c1c1;
    --button-bg: #333333;
    --button-active-bg: #555555;
    --button-color: #c1c1c1;
    --button-active-color: #ffffff;
}

[data-theme="light"] {
    --background-color: #add8e6;
    --font-color: #2c2c2c;
    --button-bg: #ffffff;
    --button-active-bg: #333333;
    --button-color: #2c2c2c;
    --button-active-color: #ffffff;
}

html,
body {
    color-scheme: auto;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--font-color);
    background-color: var(--background-color);
}

body {
    margin: 4px;
    box-sizing: border-box;
    font-family: monospace, monospace;
}

/* Updated select element styling */
select {
    font-size: 14px;
    overflow-y: hidden;
    font-family: monospace, monospace;
    color: var(--font-color);
    background-color: var(--input-background); /* Use theme variable */
    border: 1px solid var(--font-color);
    height: 100%;
    width: 100%;
}

option {
    padding: 2px;
    color: var(--font-color);
    background-color: var(--input-background);
}

td {
    vertical-align: top;
}

.col {
    float: left;
}

.values {
    text-align: left;
}

.columns {
    overflow: hidden;
}

.path {
    font-size: 14px;
    font-style: italic;
}

.typename {
    font-size: 14px;
}

.buttonbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonbar .btn {
    font-size: 14px;
    margin: 0;
}

/* Button Container */
.toggle-buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    margin-top: 20px;
}

/* Button Styling */
.toggle-btn {
    padding: 5px 10px;
    background-color: var(--button-bg);
    color: var(--button-color);
    border: 2px solid var(--font-color);
    border-radius: 5px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.toggle-btn.active {
    background-color: var(--button-active-bg);
    color: var(--button-active-color);
}

.toggle-btn:hover {
    background-color: var(--button-active-bg);
    color: var(--button-active-color);
}
